extends layout
block content
 #bar
   #titulo
     h5 Centro  Nacional De Atención boton de Panico Monitoreo De Alertas
   #reloj(style="font-size:20px;")
   #logos
     img(src='/images/logo-segob.png', width="60", height="30")
     img(src='/images/cns.png', alt='', width="50", height="30")
 #leftNav
   ul(class="clearfloat")
    each dato in data
     li(class="m-menu alerta", id="#{dato.alert_id}")
         img(src='/uploads/'+"#{dato.name}"+'.png', alt='', width="50", height="30") 
         datos #{dato.name+" "+dato.FirstName+" "+dato.descriptionAlert }

 #map  
    #menu
      .boton
        img(src='/images/uno.png', alt='', id="reset")
      .boton
        img(src='/images/dos.png', alt='')
      .boton
        img(src='/images/tres.png', alt='')
      .boton
        img(src='/images/cuatro.png', alt='')
      .boton
        img(src='/images/cinco.png', alt='')
 #seccion1
     .area_media
        .usuarios
          .nombre 
          #coordenadas2
        #status   
     .area_media

   
 #seccion2
      #area_entera
      button(id="full") fullscreen  
 #mapdos  
 #coordenadas  
 script
   function startTime(){
     today=new Date();
     h=today.getHours();
     m=today.getMinutes();
     s=today.getSeconds();
     m=checkTime(m);
     s=checkTime(s);
     document.getElementById('reloj').innerHTML=h+":"+m+":"+s;
     t=setTimeout('startTime()',500);
   }
    
   function checkTime(i)
       {if (i<10) {i="0" + i;}return i;
   }

   window.onload=function(){
    startTime();
   }
   
   var map = null;
   function initializeMaps(mapElement, mapOptions) {
    var lat = mapOptions.centerLat || 0;
    var lng = mapOptions.centerLng || 0;
    $.extend(mapOptions, {
    zoom: mapOptions.zoom || 5,
    center: mapOptions.center || new google.maps.LatLng(lat,lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
        return new google.maps.Map(mapElement, mapOptions);
   }


    $.fn.putMarker = function(address, mapParameters, screenSlug, screenName, screenDescription, photo, centerMap, ajaxParameters,alert_id) {
        var mapElement = $(this[0]).get(0);
      var map = mapParameters.map == undefined ? initializeMaps(mapElement, mapParameters) : mapParameters.map;
        
        var location = new google.maps.LatLng(address.latitude, address.longitude);

        var marker = new google.maps.Marker({
            map: map,
            title: address.title,
            draggable: false,
            icon: mapParameters.icon || 'http://bus-tops.com/static/img/map-icon.png'
        });
        
        setMarkerEvents(marker, "http://bus-tops.com/", screenSlug, screenName, screenDescription, photo, map, ajaxParameters,alert_id);
        marker.setPosition(location);
        if( centerMap ) {
            map.setCenter(location);
        }
    };


   $.fn.putScreens = function(mapParameters) { 
        var mapElement = $(this[0]).get(0);
        if( mapElement.tagName.toLowerCase() != "div" ) {
            throw "drawRoute exception: only <div> tags are supported";
        }

    if(!map)
          map = initializeMaps(mapElement, mapParameters);
          mapParameters['map']
    
           addMarker(!{JSON.stringify(data)},mapParameters);     
      
   }

     /*
     * /geocoding / directions routing
     */

     /*
     * markers functions
     */
    function setMarkerEvents(marker, screensUrl, screenSlug, screenName, screenDescription, photo, map, ajaxParameters,alert_id) {
        
        google.maps.event.addListener(marker, 'click', function() {
            if( ajaxParameters == undefined ) {
                var url = screensUrl + screenSlug;
                //window.location.href = url;
            }
            else {
                var url = ajaxParameters.url + "&screenSlug="+screenSlug;
                $("#"+ajaxParameters.targetElementId).load(url);
            }

                     

        });
        if (!photo || photo == "None") {
            photo = "http://bus-tops.com/static/images/screen-hold-graphic.jpg";
        }
        google.maps.event.addListener(marker, 'mouseover', function() {
            new ScreenInfoWindow(marker, "<div class='screen-info-window'><div class='screen-info-content'><div class='screen-photo'><img width='100' height='80' src='"+photo+"' /><div class='grid'>&nbsp;</div></div><p class='screen-content'><span class='screen-name'>"+screenName+"</span><br />"+screenDescription+"</p></div><div class='screen-info-footer'>&nbsp;</div></div>", map);
        });



        google.maps.event.addListener(marker, 'click', function() {
             //window.location.href = screensUrl + screenSlug;
            
             $.ajax({
                          type: "GET",
                          url: "/alert/"+alert_id,
                          data: "",
                          success: function(datos){
                            codeLatLng(datos[0].latitude+","+datos[0].longitude);
                            $(".usuarios").html("");
                            $("#coordenadas").html("");
                            $(".usuarios").html("<img src=\"/uploads/"+datos[0].name+".png\"  class=\"foto\" ><div class=\"nombre\" > Nombre:"+ datos[0].name+" "+datos[0].FirstName+"</div>Medio:"+datos[0].mediaDescription+"<br>Tipo Alerta: "+datos[0].descriptionAlert+"<br>Coordenadas: lat:"+ convertLat(datos[0].latitude)+" lng:"+ convertLng(datos[0].longitude)+"<br>Dirección:<div id='direccion'></div><br>Dispositivo:Iphone 5"+"<br>Carrier:"+"Telcel");
                            $("#coordenadas").html("lat:"+ convertLat(datos[0].latitude)+" lng:"+ convertLng(datos[0].longitude));
                            $("#status").html('<a href="#" id="'+datos[0].alert_id +'" class="changeStatus" > Atendido </a>');
                             var fotos="<h5>Imágenes Alerta</h5>";
                             var fcount=datos[0].fotos.length;
                             for(i=0;i<fcount;i++){
                                 fotos += '<img src="/uploads/'+datos[0].fotos[i].url+'" width="100" heigth="200" />';
                             }
                             var counttraceGps=datos[0].trakingGPS.length;

                             for(i=0;i<counttraceGps;i++){

                                   console.log(datos[0].trakingGPS[i].longitude+ datos[0].trakingGPS[i].latitude) ;


                             }

                            
                             $("#area_entera").html(fotos);
                             map.setCenter(marker.getPosition());
                             map.setZoom(15);

                          }
                  });    
                       


        });




      $('.marker-'+screenSlug).mouseenter(function(){
            var infoWindow = new ScreenInfoWindow(marker, "<div class='screen-info-window'><div class='screen-info-content'><div class='screen-photo'><img width='256' height='80' src='"+photo+"' /><div class='grid'>&nbsp;</div></div><p class='screen-content'><span class='screen-name'>"+screenName+"</span><br />"+screenDescription+"</p></div><div class='screen-info-footer'>&nbsp;</div></div>", map);
            $(this).data('infoWindow', infoWindow);
      });

        $('.marker-'+screenSlug).mouseout(function(){
           var infoWindow = $(this).data('infoWindow');
           infoWindow.setMap(null);
        });
      $('.see-marker-'+screenSlug).click(function(){
          var infoWindow = $(this).data('infoWindow');
          infoWindow.setMap(null);
          infoWindow = new ScreenInfoWindow(marker, "<div class='screen-info-window'><div class='screen-info-content'><div class='screen-photo'><img width='256' height='80' src='"+photo+"' /><div class='grid'>&nbsp;</div></div><p class='screen-content'><span class='screen-name'>"+screenName+"</span><br />"+screenDescription+"</p></div><div class='screen-info-footer'>&nbsp;</div></div>", map);
                setTimeout(function(){ infoWindow.setMap(null) }, 3000);
                $('body,html').animate({ scrollTop: 0 }, {'easing': 'easeOutExpo'});
       });
    }

    /*
     * /markers functions
     */

    /*
     * custom info window
     */
    function ScreenInfoWindow(marker, html, map) {
        this._marker = marker;
        this._html = html;
        this._map = map;
        this._div = null;
        this.setMap(map);
    }
    ScreenInfoWindow.prototype = new google.maps.OverlayView();

    ScreenInfoWindow.prototype.onAdd = function() {
        var div = document.createElement("div");
        div.style.position = "absolute";
        div.innerHTML = this._html;
        this._div = div;
        // define info window close function and event
        function closeInfoWindow(screenInfoWindow) {
            return function() {
                screenInfoWindow.setMap(null);
            };
        }
        google.maps.event.addDomListener(this._marker, 'mouseout', closeInfoWindow(this));
        // add info window to map (to float pane layer)
        var panes = this.getPanes();
        panes.floatPane.appendChild(div);
    };

    ScreenInfoWindow.prototype.draw = function () {
        var marker = this._marker;
        // marker coordinates as Point(x, y)
        var markerOffset = this.getProjection().fromLatLngToDivPixel(marker.getPosition());
        // position info window over marker
        var div = this._div;
        div.style.top = (markerOffset.y - 135) + "px";
        div.style.left = (markerOffset.x - 133) + "px";
    };

    ScreenInfoWindow.prototype.onRemove = function() {
        this._div.parentNode.removeChild(this._div);
        this._div = null;
    };
    
    /*
     * /custom screen info window
     */

    $(function() {
            $( "input:submit, a, button", ".upload" ).button();
            $( "button" )
                    .click(function() {
                    $( "#dialog" ).dialog( "open" );
                    });
    });
    

    $(document).ready(function () {
    var mapStyles = [
      {
        featureType: 'all',
        elementType: 'geometry',
        stylers: [
          {hue: '#204150'},
          {lightness: '-85'}
        ]
      },
      {
        featureType: 'all',
        elementType: 'labels',
        stylers: [
          {hue: '#204150'},
          {invert_lightness: true}
        ]
      },
      {
        featureType: 'road',
        elementType: 'geometry',
        stylers: [
          {hue: '#204150'},
          {saturation: '-85'},
          {lightness: '20'}
        ]
      },
      {
        featureType: 'road',
        elementType: 'labels',
        stylers: [
          {visibility: 'off'}
        ]
      },
      {
        featureType: 'poi',
        stylers: [
          {hue: '#204150'},
          {lightness: '10'}
        ]
      },
      {
        featureType: 'landscape.natural',
        stylers: [
          {hue: '#204150'},
          {lightness: '-50'}
        ]
      },
      {
        featureType: 'water',
        stylers: [
          {hue: '#204150'},
          {lightness: '15'}
        ]
      }
    ];
        var mapOptions = {
            'center': new google.maps.LatLng(21.371244,-100.905304)
        };

        $("#screen_map").putScreens(mapOptions);
    map.setOptions({'styles': mapStyles});
      });

      $(function() {
        $( "#dialog" ).dialog( {
                autoOpen: false,
                width: 460
            } );

            $( "#signin-link" )
                .click(function() {
                $( "#dialog" ).dialog( "open" );
                    //$( "#dialog").dialog.parent().appendTo($("form:first"));
                    });
            /*
            $( "#id_signin" )
                .click(function() {
                     //     $( "#dialog" ).dialog( "open" );
                    $( "#dialog").dialog.parent().appendTo($("form:first"));
                    });
                    */
            /*
            $( "#id_continue" )
                .click(function() {
                    //    $( "#dialog" ).dialog( "open" );
                    $( "#dialog").dialog.parent().appendTo($("form:first"));
                    });
                    */
            $( "#signup-link" )
                .click(function() {
                $( "#dialog" ).dialog( "open" );
                    });

            var options = {
                target: '#dialog',
                success: function() {
                $('#dialog').fadeIn('slow');
                }
            };

            $('#signin-form').submit(function() {
                $(this).ajaxSubmit(options);
                return false;
            });

            $('#signup-form').submit(function() {
                // check for default values
                $('.ctrlHolder input').each(function(index) {
                    var id = $(this).attr('id');
                    var label = $("label[for='"+id+"']");
                    if( $(this).val() == label.text() ) {
                        $(this).val("");
                    }
                });
                $(this).ajaxSubmit(options);
                return false;
            });

            $("#autosel").live("change keyup", function () {
                $("#role-form").submit();
            });
      });

        function hash(value) {
            var hash = 5381;
            value = value.toUpperCase();
            for (var i = 0; i < value.length; i++) {
                hash = ((hash << 5) + hash) + value.charCodeAt(i);
            }
            return "" + hash;
        }

        $.fn.selectRange = function(start, end) {
            return this.each(function() {
                if (this.setSelectionRange) {
                    this.focus();
                    this.setSelectionRange(start, end);
                } else if (this.createTextRange) {
                    var range = this.createTextRange();
                    range.collapse(true);
                    range.moveEnd('character', end);
                    range.moveStart('character', start);
                    range.select();
                }
            });
        };

        $(document).ready(function () {

            $('.nav li').hover(
                function () {
                    //show its submenu
                    $('ul', this).slideDown(100);

                },
                function () {
                    //hide its submenu
                    $('ul', this).slideUp(100);
                }
            );

            $('.nav li').hover(
                    function () {
                        //show its submenu
                        $('ul', this).slideDown(100);

                    },
                    function () {
                        //hide its submenu
                        $('ul', this).slideUp(100);
                    }
            );
            $('#nav li').hover(
                    function () {
                        //show its submenu
                        $('ul', this).slideDown(100);

                    },
                    function () {
                        //hide its submenu
                        $('ul', this).slideUp(100);
                    }
            );

        });

        $(function() {
          $( ".button" ).button();
            $( "#id-date" ).datepicker();
        });  

        function addMarker(json,mapParameters){
          var f=json;
          var tam =f.length;
          var i=0;
          var geoJson=new Array();
          for(i=0;i<tam;i++){


            address = {
              'latitude': f[i].latitude,
              'longitude': f[i].longitude,
              'title': f[i].mediaDescription+f[i].descriptionAlert
            };
            
            $(this).putMarker(
              address,
              {'map': map},
              'almington', 
               f[i].mediaDescription+' '+f[i].descriptionAlert, 
              '', 
              "http://sspdemo.cloudapp.net/uploads/"+f[i].name+".png",
              null,
              mapParameters,f[i].alert_id
            );


          
          } 

        }

        function codeLatLng(latlng) {
              var geocoder= new google.maps.Geocoder();
                  var input = latlng;
                  var latlngStr = input.split(",",2);
                  var lat = parseFloat(latlngStr[0]);
                  var lng = parseFloat(latlngStr[1]);
                  var latlng = new google.maps.LatLng(lat, lng);
                  geocoder.geocode({'latLng': latlng}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                      if (results[1]) {
                      /*
                        map.setZoom(11);
                        marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        */
                        $("#direccion").html(results[1].formatted_address);

                         //infowindow.setContent(results[1].formatted_address);
                        //infowindow.open(map, marker);
                      }
                    } else {
                      alert("Geocoder failed due to: " + status);
                    }
                  });
        }

        $('#reset').click(function(){
               //alert("..");
                //mapdos.markerLayer.clearLayers();
                mapdos.setView([19.432679,-99.133236], 5);
                mapdos.markerLayer.eachLayer(  
                   function(l) { mapdos.markerLayer.removeLayer(l); }
                );


        });

        var socket  = io.connect('http://sspdemo.cloudapp.net');
              socket.on('conectado', function(data) {
                      console.log("conectado"+data);
              });
              socket.on('refresh', function(data) {
                  addMarker(JSON.parse(data));     
             
        });

        $(".alerta").click(function(){
              
              var alert_id=$(this).attr('id');
              
              $.ajax({
                          type: "GET",
                          url: "/alert/"+alert_id,
                          data: "",
                          success: function(datos){
                            codeLatLng(datos[0].latitude+","+datos[0].longitude);
                            $(".usuarios").html("");
                            $("#coordenadas").html("");
                            $(".usuarios").html("<img src=\"/uploads/"+datos[0].name+".png\"  class=\"foto\" ><div class=\"nombre\" > Nombre:"+ datos[0].name+" "+datos[0].FirstName+"</div>Medio:"+datos[0].mediaDescription+"<br>Tipo Alerta: "+datos[0].descriptionAlert+"<br>Coordenadas: lat:"+ convertLat(datos[0].latitude)+" lng:"+ convertLng(datos[0].longitude)+"<br>Dirección:<div id='direccion'></div><br>Dispositivo:Iphone 5"+"<br>Carrier:"+"Telcel");
                            $("#coordenadas").html("lat:"+ convertLat(datos[0].latitude)+" lng:"+ convertLng(datos[0].longitude));
                            $("#status").html('<a href="#" id="'+datos[0].alert_id +'" class="changeStatus" > Atendido </a>');
                             var fotos="<h5>Imágenes Alerta</h5>";
                             var fcount=datos[0].fotos.length;
                             for(i=0;i<fcount;i++){
                                 fotos += '<img src="/uploads/'+datos[0].fotos[i].url+'" width="100" heigth="200" />';
                             }
                             var counttraceGps=datos[0].trakingGPS.length;

                             for(i=0;i<counttraceGps;i++){

                                   console.log(datos[0].trakingGPS[i].longitude+ datos[0].trakingGPS[i].latitude) ;


                             }

                            
                             $("#area_entera").html(fotos);
                             map.setCenter(new google.maps.LatLng(datos[0].trakingGPS[i].latitude, datos[0].trakingGPS[i].longitude))
                             map.setZoom(15);

                          }
                  }); 

        });      

        document.getElementById('full').addEventListener('click', function () {
           if (screenfull.enabled) {
                screenfull.request();
           } else {
             // Ignore or do something else
           }
        });      

 div(id="screen_map")